<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Socialyte is an event discovery application that was developed by Brandon Smith to help Yale students find  the events that are going on around them.
</p>