<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Socialyte is a work-in-progress so bugs will appear and be squashed as quickly as possible. Until their squashing, you can email <a href="mailto:brandon.smith@yale.edu">Brandon</a> and let him know!
</p>