<% provide(:title, 'Help') %>
<div class="container-responsive" id="main">
	<h1>Help</h1>
	<p class="info">
	  Socialyte is a work-in-progress so bugs will appear and be squashed as quickly as possible. Until their squashing, you can email <a href="mailto:brandon.smith@yale.edu">Brandon</a> and let him know!
	</p>
</div>