<div class="container-responsive" id="main">
 <!-- <%= facebook_like %> -->
  <h1>Welcome to Socialyte!</h1>

  <h4>
    Illuminating your social scene.
  </h4>

  <p>
    Socialyte is an event discovery application that aims to help individuals navigate their social environment.
  </p>

   <p>
    <%= link_to "Sign in with Facebook!", "/auth/facebook",class: "btn btn-large btn-primary" %>
  </p>
</div>
 
 <div class="container-responsive" id="facepile">
  <div class="span5">
   <iframe src="http://www.facebook.com/plugins/facepile.php?app_id=397393730346493" scrolling="no" frameborder="0" allowTransparency="true"></iframe> 
  </div>
 </div>