<% provide(:title, 'All users') %>
<h1>All Users</h1>

<ul class="users">
	<h2>My Events</h2>
	<% @events.each do |event| %>
		<li>
			<% event_obj = @rest.get_object(event["eid"]) %>
			<%= event_obj["name"] %>
		</li>
	<% end %>
</ul>	