<% provide(:title, 'Events') %>
	<div class="container-fluid", id="events">
		<div class="row-fluid">
			<div class="span5", id="events-left">
				<ul class="users">
					<h2>Events</h2>
					<% @events.each do |event| %>
					<div class="event-left">
						<%= link_to event.name, Event.find(event.id), :remote => true, :class => "event-link", :id => event.id %>
						<p id="time">
							<%= event.start_time %>
						</p>
					</div>
					<!--	<li class="event-left">
							
						</li> -->
					<% end %>	
				</ul>	
			</div>
			<div class="span6", id="events-right"></div>
		</div>
	</div>

	<!--<%= link_to "Show event", Event.find(1), :remote => true , :id => "thelink" %>-->

<!-- <div id="replaced"> will be replaced </div> -->
<script>
	$(document).ready(function() {
		$('#events-right').hide();
	})

	$('.event-link').bind('ajax:complete', function(event, data){
	  $('#events-right').html(data.responseText);
	  $('#events-right').show();
	}); 
</script>
