@import "bootstrap";
@import "bootstrap-responsive";


/* mixins, variables, etc. */ 

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image:'../images/yale.jpg'

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h4 {
  margin-bottom:30px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    } 
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  } 
}
  
/* styling for newhome */  

.container-responsive#main {
  background-color: white;
  opacity: 0.9;
  height:60%;
  width:40%;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  border-radius: 10px;
  text-align:center;
}


.container-responsive p {
  padding: 5px;
} 

body {
  /*background-image: url(http://pcdn.500px.net/746268/2c81355cd59055700ba868a204970209c0bc709c/4.jpg);*/
  background-image: url(/assets/yale.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#facepile{
  background-color:white;
  border-radius: 10px;
  overflow:hidden; width:350px;
  padding: 5px;
  height: 80px;
  margin: auto;
  clear:both;
  margin-top:15px;
  opacity:0.8;
}

#events-left {
  background-color: white;
  opacity: 0.9;
  height: 100%;
  padding-top: 20px;
  float:left;
  border-radius: 10px;
  text-align: left;
  overflow: scroll;
}

.clear {
  overflow: hidden;
  width: 100%;
}

.event-left {
  overflow: auto;
  padding: 10px;
  border-top: 1px solid $grayLighter;
  &:last-child {
    border-bottom: 1px solid $grayLighter;
  }
}

.event-left:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)); /* for webkit browsers */
}

.selected {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ccc)); /* for webkit browsers */
}

.click-region {
  height: 100%;
  width: 100%;
  background-color: red;
}

.gradient {
    opacity: 0.5;
    background: #999; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ccc)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */
}


.gradient2 {
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}



#events-right {
  position: relative;
  background-color: white;
  padding: 20px;
  opacity: 0.9;
  height: 100%;
  float:right;
  border-radius: 10px;
  text-align:center;
  overflow: hidden;
}

#map {
  background-color: blue;
}

#time {
  float: right;
}

#loc {
  padding-left: 15px;
  display: inline-block
}

/*
li.event-right{
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}*/

#description {
  float: left;
  clear: both;
  text-align: left;
  overflow: scroll;
  height: 400px;
}


.alert-notice {
  text-align: center;
}

#replaced {
  background-color: white;
}

a.event-link {
  text-decoration: none;
  padding: 5px;
  color: #0060B6;
}

.fb-event {
  border: 3px solid blue;
}

.info {
  text-align: center;
  background-color: white;
}

#hero {
  background-color: white;
  opacity: 0.9;
  margin: 40px;
  border-radius: 10px;
  float: right;
  text-align: center;
  padding: 10px;
}

#user_show {
  background-color: white;
  padding: 10px;
  opacity: 0.9;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

#user_details {
 
}

#user_events {
  background-color: white;
  padding: 10px;
  opacity: 0.9;
  border-radius: 10px;
  text-align: center;
}

#new-event {
  background-color: white;
  margin: auto;
  padding: 10px;
  opacity: 0.9;
  border-radius: 10px;
}

.event_form {
  float: left;
}

.event-form1 {
  margin: 0 auto;
  margin-left: 40px;
}

.event-form2{
  margin: 0 auto;
  margin-right: 40px;
}

.alert {
  text-align: center;
}

/* sidebar */

.stats {
  overflow: auto;
  a {
      float: left;
      padding: 0 10px;
      border-left: 1px solid $grayLighter;
      color: gray;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
      a:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }
  strong {
    display: block;
  }

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}


.microposts {
  background-color: white;
  border-radius: 10px;
  opacity: 0.9;
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
} }
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  } 
}

.user-side {
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  padding: 10px;
}

.stats {
  background-color: white;
  opacity: 0.9;
}